body {
    margin:0;
    background:#FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navmenu {
    background: #828212;
    position: fixed;
    top:0;
    width:100%;
    display: block;
    transition:top 0.10s;
}

#navmenu a {
    float:left;
    display: block;
    color:#f2f2f2;
    text-decoration: none;
    margin:1em;
    font-size:1em;
}

h1 {
    font-weight:600;
}

.content {
    margin:5em;
    text-align: justify;
}

p {
    color: #979797;
    line-height:25px;
}

@media (max-width: 815px) {
    #navmenu a {
        width:100%;
        font-size:20px;
        text-align: center;
    }

    .content {
        padding-top:20em;
    }
}

