body {
    margin:0;
    background:#FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navmenu {
    background: #828212;
    position: fixed;
    top:0;
    width:100%;
    display: block;
    transition:top 0.10s;
}

#navmenu a {
    float:left;
    display: block;
    color:#f2f2f2;
    text-decoration: none;
    margin:2em;
    font-size:1em;
}